<ngb-tabset [justify]="currentJustify">
	<ngb-tab>
		<ng-template ngbTabTitle><span class="d-flex align-items-center"><i class="material-icons mr-3">person</i>Perfil</span></ng-template>
		<ng-template ngbTabContent>
			<div class="p-4">
				<div class="row">
					<div class="col-md-12">
						<h4 class="d-flex align-items-center">
							<label class="rounded-circle">
								<i class="material-icons">person</i>
							</label>
							&nbsp;Identificação
						</h4>
					</div>
					<div class="col-md-2">
						<label for="">Data de nascimento</label>
						<br>
						<span>09/10/1980</span>
					</div>
					<div class="col-md-2">
						<label for="">CPF</label>
						<br>
						<span>023.857.948-89</span>
					</div>
					<div class="col-md-2">
						<label for="">Sexo</label>
						<br>
						<span>Masculino</span>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-8">
						<h4 class="d-flex align-items-center">
							<label for="" class="rounded-circle">
								<i class="material-icons">contact_phone</i>
							</label>
							&nbsp;Contato
						</h4>
						<div class="row">
							<div class="col-md-6">
								<label for="">Telefones</label>
								<br>
								<span>(41) 3030-3030</span>
							</div>
							<div class="col-md-6">
								<label for="">E-mail</label>
								<br>
								<span>Fernando_oliveira@gmail.com</span>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<h4 class="d-flex align-items-center">
							<label for="" class="rounded-circle">
								<i class="material-icons">room</i>
							</label>
							&nbsp;Localização
						</h4>

						<div class="row">
							<div class="col-md-12">
								<label for="">Endereço</label>
								<br>
								<span>Al. Dr Carlos de Carvalho
								<br> 
								771 sala 00</span>
							</div>
							<div class="col-md-6">
								<label for="">Cidade</label>
								<br>
								<span>Curitiba - PR</span>
							</div>
							<div class="col-md-6">
								<label for="">CEP</label>
								<br>
								<span>99999-000</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</ngb-tab>
	<ngb-tab>
		<ng-template ngbTabTitle><span class="d-flex align-items-center"><i class="material-icons">history</i>Perfil</span></ng-template>
		<ng-template ngbTabContent>
				<div class="row align-items-center px-3 pt-3 pb-0">
					<div class="pl-3">
						<a href="" class="ml-3">
							<i class="far fa-file-excel" style="font-size:23px;"></i>
							Exportar
						</a>
					</div>
					<div class="col-md-4 ml-auto mr-4">
						<input class="form-control style-02" type='text' placeholder='&#xf002; Pesquisar'  />
					</div>
				</div>
				<hr>
				<div class="row align-items-center px-3 pt-3 pb-0">
					<label for="" class="pl-3">Categorias</label>
					<div class="col-md-2">
						<select name="" id="" class="form-control">
							<option value="">Todas</option>
						</select>
					</div>
					<label for="" class="ml-auto">Situação</label>
					<div class="col-md-2">
						<select name="" id="" class="form-control">
							<option value="">Todas</option>
						</select>
					</div>
					<label for="" class="ml-auto">Período</label>
					<div class="col-md-2">
						<select name="" id="" class="form-control">
							<option value="">Todas</option>
						</select>
					</div>
					<div class="col-md-2 mr-3">
						<select name="" id="" class="form-control">
							<option value="">Todas</option>
						</select>
					</div>
				</div>
				<hr>
				<ngx-datatable
					#table
					class="bootstrap"
					[rows]="avaliacoes"
					[columnMode]="'flex'"
					[headerHeight]="40"
					[footerHeight]="40"
					[limit]="6"
					[rowHeight]="'auto'">
					<ngx-datatable-column name="DATA" [frozenLeft]="true" prop="nome" [flexGrow]="1">
						<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
							<div class="d-flex align-items-center">
								<div class="col-4">
									<img src={{row.avaliacao.produtor.from.photo}} height="60" width="60" alt="" class="img-border">
								</div>
								<div class="col-8">
									<div class="label-attr">{{row.avaliacao.produtor.from.name}}</div>
									<span>AVALIAÇÃO:</span>
									<div class="label-attr">{{row.avaliacao.produtor.from.points}}</div>
								</div>
							</div>
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="CLIENTE" [frozenLeft]="true" prop="nome" [flexGrow]="1">
						<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
							<div class="d-flex align-items-center">
								<div class="col-4">
									<img src={{row.avaliacao.produtor.from.photo}} height="60" width="60" alt="" class="img-border">
								</div>
								<div class="col-8">
									<div class="label-attr">{{row.avaliacao.produtor.from.name}}</div>
									<span>AVALIAÇÃO:</span>
									<div class="label-attr">{{row.avaliacao.produtor.from.points}}</div>
								</div>
							</div>
						</ng-template>
					</ngx-datatable-column>
						
					<ngx-datatable-column name="SERVIÇO" prop="dtCadastro" [flexGrow]="1">
						<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
								<div class="d-flex align-items-center">
									<div class="col-4">
										<img src={{row.avaliacao.comprador.from.photo}} height="60" width="60" alt="" class="img-border">
									</div>
									<div class="col-8">
										<div class="label-attr">{{row.avaliacao.comprador.from.name}}</div>
										<span>AVALIAÇÃO:</span>
										<div class="label-attr">{{row.avaliacao.comprador.from.points}}</div>
									</div>
								</div>
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="VALOR" prop="hate" [flexGrow]="1">
						<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
							<div class="d-flex align-items-center h-100 table-buttons justify-content-between pr-5">
								<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
								<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
							</div>
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="SITUAÇÃO" [flexGrow]="1">
						<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
							<div class="d-flex align-items-center h-100 table-buttons justify-content-between pr-5">
								<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
								<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
							</div>
						</ng-template>
					</ngx-datatable-column>

				</ngx-datatable>
		</ng-template>
	</ngb-tab>
</ngb-tabset>