<ngx-datatable
				#table
				class="bootstrap"
				[rows]="avaliacoes"
				[columnMode]="'flex'"
				[headerHeight]="40"
				[footerHeight]="40"
				[limit]="6"
				[rowHeight]="'auto'">
				
				<ngx-datatable-column name="DATA" [frozenLeft]="true" prop="nome" [flexGrow]="1">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.from_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
				
				<ngx-datatable-column name="TITULO" prop="dtCadastro" [flexGrow]="3">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.to_user.name}}</div>
								<span>USUÁRIOS:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column name="TEXTO" prop="dtCadastro" [flexGrow]="3">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.to_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column name="VALOR" prop="dtCadastro" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.to_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>