.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: black;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
.navbar-brand{
	height: 150px;
}
.content-page{
	background-color: white;
	margin-top: -50px;
	margin-left: 250px;
	transition: all 0.3s;
}
.content-page.toggled{
	margin-left: 0px;
}
.nav-top{
	margin-left: 250px;
	transition: all 0.3s;
	background-color:#ba3c3c;
	height: 200px;
}
.nav-top.toggled {
	margin-left: 0px;
	z-index: 98
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 768px) {
	.nav-top{
		margin-left: 0px;
	}
	.nav-top.toggled{
		margin-left: 250px;
	}
}
.dropdown.show .dropdown-menu.show {
    display: block;
    opacity: 1;
    -webkit-transition: 0.55s;
	transition: 0.55s;
	top:-22px !important;
	left: -18px !important;
}
.dropdown-toggle::after{
	display: none !important;	
}
.dropdown .dropdown-menu .dropdown-item:hover{
	color: white !important;
	background-color: #073340 !important;
}
.top{
	box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.24);
	padding-bottom: 10px;
}