<nav class="navbar nav-top navbar-expand navbar-dark d-block" style="padding-right:0 !important;">
	<div class="row h-5 align-items-center mt-2 pr-0">
		<div class="col-md-12">
			<div class="row top align-items-center">
				<div class="col-md-1">
					<a (click)="resizeTheFuckingDatatable()" class="sidebar-toggle text-light mr-3"><i class="fa fa-bars" style="font-size:32px"></i></a>
				</div>
				<div class="col-md-11 d-flex pl-0" style="color:white">
					<div class="col pl-0 ml-0">
						<app-title></app-title>
					</div>
					<div class="col text-right">
						<div ngbDropdown  placement="right" class="d-inline-block">
							<div id="dropdownBasic1" ngbDropdownToggle class="d-flex align-items-center" style="color:white">
								<i class="material-icons">mail</i>
							</div>
							<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
								<button class="dropdown-item" (click)="open(alterarSenha)">Alterar senha</button>
								<button class="dropdown-item" routerLink="/dashboard/gerenciar-usuarios">Gerenciar usuários</button>
								<button class="dropdown-item" routerLink="/login">Sair</button>
							</div>
						</div>
						<div ngbDropdown  placement="right" class="d-inline-block">
							<div id="dropdownBasic1" ngbDropdownToggle class="d-flex align-items-center" style="color:white">
									<i class="material-icons">notifications</i>
							</div>
							<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
								<button class="dropdown-item" (click)="open(alterarSenha)">Alterar senha</button>
								<button class="dropdown-item" routerLink="/dashboard/gerenciar-usuarios">Gerenciar usuários</button>
								<button class="dropdown-item" routerLink="/login">Sair</button>
							</div>
						</div>
						<div ngbDropdown  placement="right" class="d-inline-block">
							<div id="dropdownBasic1" ngbDropdownToggle class="d-flex align-items-center" style="color:white">
								<i class="material-icons mr-3">person</i>
								<span class="mr-3">Olá usuário - {{user?.email}}</span>
								<i class="material-icons">keyboard_arrow_up</i>
							</div>
							<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
								<button class="dropdown-item" (click)="open(alterarSenha)">Alterar senha</button>
								<button class="dropdown-item" routerLink="/admins/novo">Gerenciar usuários</button>
								<button class="dropdown-item" routerLink="/login">Sair</button>
							</div>
						</div>
					</div>
				</div>					
			</div>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-md-12 d-flex align-items-center mt-2">
			<app-user-credentials></app-user-credentials>
			<app-breadcrumb></app-breadcrumb>
			<app-botoes-header class="ml-auto"></app-botoes-header>
		</div>
	</div>
</nav>
<ng-template #alterarSenha let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Alterar senha</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<i class="material-icons">close</i>
		</button>
	</div>
	<div class="modal-body">
		<label for="" class="label-attr mt-4">Nova senha:</label>
		<input type="text" name="novaSenha" id="novaSenha" placeholder="Nova senha (min. 8 caracteres)" class="form-control" style="height:45px">
		<label for="" class="label-attr mt-4">Confirmar senha:</label>
		<input type="text" name="confirmarSenha" id="confirmarSenha" placeholder="Confirmar senha" class="form-control" style="height:45px">
		
	</div>
	<div class="modal-footer d-flex justify-content-center mt-4">
		<div class="col-md-10">
			<button type="button" class="btn btn-projeto-01 btn-block" (click)="c('Close click')">SALVAR</button>
		</div>
	</div>
</ng-template>