img{
	height: 85px;
	width: 85px;
	object-fit: cover;
}
h3{
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.7px;
	text-align: left;
	color: #ffffff;
}
.status{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: left;
	color: #ffffff;
}