<div class="row" [hidden]="user != true">
	<div class="col-md-3">
		<img src="../../../assets/img/08.png" class="rounded-circle" alt="">
	</div>
	<div class="col-md-9 d-flex align-items-center">
		<span>
			<h3>João Mario Barcellos da Silva</h3>
			<span class="status">Ativo</span>	
		</span>
	</div>
</div>