<ngb-tabset id="tabela-zoada" >
					
	<ngb-tab >
		<ng-template ngbTabTitle>ASSINATURA E TAXAS</ng-template>
		<ng-template ngbTabContent>

			<div class="p-4">
				<div class="row">
					<div class="col-md-4">
						<h4>Valor da assinatura profissional</h4>
						<span>Valor pago pelo prestador para poder enviar propostas de orçamento</span>
						<br>
						<br>
						<br>
						<span class="valor">R$ 9,90 ao mês</span>
					</div>
					<div class="col-md-4">
						<h4>Taxa ServeMe</h4>
						<span>Valor a ser repassado pelo prestador,sobre cada serviço</span>
						<br>
						<br>
						<br>
						<span class="valor">7%</span>
					</div>
					<div class="col-md-4">
						<h4>Limite de serviços gratuitos</h4>
						<span>Número de serviços que o prestador pode fechar sem necessidade de aderir à assinatura profissional</span>
						<br>
						<br>
						<br>
						<span class="valor">5</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="p-4">
				<div class="row">
					<div class="col-12">
						<h4>Datas de pagamento</h4>
						<span>Opções de datas para que o prestador escolha quando pagar os valores devidos à ServeMe</span>
						<br>
						<br>
						<br>
						<span class="valor mr-5">1º dia útil</span>
						<span class="valor">2º dia útil</span>
					</div>
				</div>
			</div>
		</ng-template>

	</ngb-tab>

	<ngb-tab>
		<ng-template ngbTabTitle>OPÇÕES APP</ng-template>
		<ng-template ngbTabContent>

			<div class="p-4">
				<div class="row">
					<div class="col-12">
						<h4>Formas de pagamento</h4>
						<span>Opções disponíveis para seleção no cadastro de prestadores e na solicitação de serviço pelo cliente</span>
					</div>
					<div class="col-12">
						<div class="row">
							<div class="form-inline align-items-start w-100">
								<div class="col-3">
									<label class="container pl-4 mt-1 text-left">
										Cartão de débito
										<input type="checkbox" name="frete">
										<span class="checkmark"></span>
									</label>

									<ul class="mt-3">
										<li>Visa <i class="fa fa-times"></i></li>
										<li>MasterCard <i class="fa fa-times"></i></li>
									</ul>
									<div class="row">
										<div class="col-md-9"><input type="text" name="" id="" class="form-control"></div>
										<div class="col-md-3 py-2">
											<label for="" class="rounded-circle btn-add-campo m-0"><i class="fa fa-plus" aria-hidden="true"></i></label>
										</div>
									</div>
								</div>
								
								<div class="col-3">
									<label class="container pl-4 mt-1 text-left">
										Cartão de crédito
										<input type="checkbox" name="frete">
										<span class="checkmark"></span>
									</label>
									<ul class="mt-3">
										<li>Visa <i class="fa fa-times"></i></li>
										<li>MasterCard <i class="fa fa-times"></i></li>
									</ul>
									<div class="row">
										<div class="col-md-9"><input type="text" name="" id="" class="form-control"></div>
										<div class="col-md-3 py-2">
											<label for="" class="rounded-circle btn-add-campo m-0"><i class="fa fa-plus" aria-hidden="true"></i></label>
										</div>
									</div>
								</div>
								
								<div class="col-3">
									<label class="container pl-4 mt-1 text-left">
										Dinheiro
										<input type="checkbox" name="frete">
										<span class="checkmark"></span>
									</label>
								</div>
								
								<div class="col-3">
									<label class="container pl-4 mt-1 text-left">
										Tranferência bancária
										<input type="checkbox" name="frete">
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="p-4">
				<div class="row">
					<div class="col-md-12">
						<h4>Cancelamento</h4>
						<span>Sugestões disponíveis para o motivo de cancelamento do chamado</span>
					</div>
					<div class="col-md-6">
						<h4>ORÇAMENTOS</h4>
						<ul>
							<li>
								<div class="sugestao p-2 my-3">
									<div>
										<span class="mensagem">Achei todas as propostas muito caras</span>
										<br>
										<span class="usuario">Clientes</span>
									</div>
									<div class="px-2 d-flex align-items-center">
										<i class="fa fa-times"></i>
									</div>
								</div>
							</li>
							<li>
								<div class="sugestao p-2 my-3">
									<div>
										<span class="mensagem">Fechei outro trabalho e não poderia cumprir a proposta</span>
										<br>
										<span class="usuario">Prestadores</span>
									</div>
									<div class="px-2 d-flex align-items-center">
										<i class="fa fa-times"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>SERVIÇOS</h4>
						<ul>
							<li>
								<div class="sugestao p-2 my-3">
									<div>
										<span class="mensagem">Surgiu um imprevisto</span>
										<br>
										<span class="usuario">Clientes, Prestadores</span>
									</div>
									<div class="px-2 d-flex align-items-center">
										<i class="fa fa-times"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<hr>
			
		</ng-template>
	</ngb-tab>

</ngb-tabset>