h4{
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	text-align: left;
	color: black
}
span{
	font-size: 14px
}
span.valor{
	font-size: 16px;
	font-weight: 400
}
.btn-add-campo{
	height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3688b5;
}
.sugestao{
	display: inline-flex;
	border: 1px solid #3688b5;
	border-radius: 3px;
}
.sugestao i{
	color: #3688b5;
	font-size: 24px;
}
ul{
	padding-left: 0px;
}
ul li{
	list-style: none;
}
.mensagem{
	font-size: 16px;
	font-weight: 400
}