<div class="p-4">
	<div class="row">
		<div class="col-md-2">
			<label for="">Foto de Perfil</label>
			<div class="fotinea">
				<i class="material-icons">image</i>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ajuste position-absolute">
				<label for="">Foto de Perfil</label>
				<input type="text" name="" id="" class="form-control">
			</div>
		</div>
		<div class="col-md-3">
			<div class="ajuste position-absolute">
				<label for="">Foto de Perfil</label>
				<select type="text" name="" id="" class="form-control">
					<option value="">Selecione</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<label for="">E-mail</label>
			<input type="text" name="" id="" class="form-control">
		</div>
		<div class="col-md-2">
			<label for="">Telefone</label>
			<input type="text" name="" id="" class="form-control">
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-2">
			<label for="">Senha</label>
			<input type="text" name="" id="" class="form-control">
		</div>
		<div class="col-md-2">
			<label for="">Confirmar senha</label>
			<input type="text" name="" id="" class="form-control">
		</div>
	</div>
	<div class="my-5">&nbsp;</div>
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-projeto-02 btn-block">CANCELAR</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-projeto-01 btn-block">SALVAR</button>
		</div>
	</div>
</div>