.fotinea{
	width: 130px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #afafaf;
	color: #afafaf;
}
.ajuste{
	width: 90%;
	bottom: 0px;
	left: 0px;
}