.label-dashboard{
	font-family: Roboto;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.1px;
	text-align: left;
	color: #7b61ac;
}
.label-dashboard+label{
	font-family: Roboto;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.1px;
	text-align: left;
	color: #a2a6ad;
}
.label-dashboard-2{  
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #7b61ac;
  }
  .label-dashboard-2+label{
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #b9a2e4;
  }
  .header-tabela{
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #868686;
	background-color: white;
  }
  .cardzineo .btn-projeto-01{
	  padding: 8px;
  }
.wrap{
	padding:10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	border-radius: 2px;
}
h4.card-title{
	font-size: 16px;
	font-weight: 500;
	color: #206e99;
	margin-bottom: 0px;
}