<div class="p-4">
	<div class="row">
		<div class="col-md-12 pb-4">
			<div class="content-title d-flex align-items-center">
				<h3>Compra e vendas recentes:</h3>
			</div>
		</div>
	</div>

	<div class="content-body">
		<div class="row px-4">
			<div class="col-md-9">
				<div class="wrap">
					<label>CHAMADOS REALIZADOS</label>
						<div style="display: block; ">
							<canvas baseChart height="160"
								[datasets]="barChartData"
								[labels]="barChartLabels"
								[colors]="lineChartColors"
								[options]="barChartOptions"
								[legend]="barChartLegend"
								[chartType]="barChartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</div>
				</div>
			</div>
			<div class="col-md-3" style="margin-top:10px;">
				<app-card-informacao
				icon="description"
				tipoInformacao="Total de serviços"
				informacao="7.676"
				></app-card-informacao>
				<br>
				<app-card-informacao
				icon="group"
				tipoInformacao="Total de usuários"
				informacao="7.676"
				></app-card-informacao>
				<br>
				<app-card-informacao
				icon="person_outline"
				tipoInformacao="Total de clientes"
				informacao="5203"
				></app-card-informacao>
				<br>
				<app-card-informacao
				icon="person"
				tipoInformacao="Total de profissionais"
				informacao="986"
				></app-card-informacao>
			</div>
			<div class="col-md-8">
				<div class="wrap">
					<div class="d-flex align-items-center">
						<h4 class="label-dashboard m-0 mr-3">USUÁRIOS POR IDADE</h4>
						<label class="m-0 mr-auto">Idade x % de clientes</label>
					</div>
					<div style="display: block; ">
						<canvas baseChart height="150"
							[datasets]="barChartData2"
							[labels]="barChartLabels2"
							[colors]="lineChartColors2"
							[options]="barChartOptions2"
							[legend]="barChartLegend2"
							[chartType]="barChartType2"
							(chartHover)="chartHovered($event)"
							(chartClick)="chartClicked($event)">
						</canvas>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">

					<div class="wrap w-100 p-0">
						<div class="d-flex my-2 px-3 w-100 align-items-center">
							<h4 class="card-title">NOVOS USUARIOS</h4>
							<div class="ml-auto">
								<span class="badge badge-danger">10 novos</span>
							</div>
						</div>
						<ngb-tabset>
							
							<ngb-tab >
								<ng-template ngbTabTitle>Prestadores</ng-template>
								<ng-template ngbTabContent>
									
									<ngx-datatable
									#table
									class="bootstrap"
									[rows]="avaliacoes"
									[columnMode]="'flex'"
									[headerHeight]="0"
									[footerHeight]="0"
									[limit]="6"
									[rowHeight]="'auto'">
									<ngx-datatable-column name="PRODUTOR" [frozenLeft]="true" prop="nome" [flexGrow]="2">
										<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
											<div class="d-flex align-items-center">
												<div class="col-4">
													<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
												</div>
												<div class="col-8">
													<div class="label-attr">{{row.from_user.name}}</div>
													<span>AVALIAÇÃO:</span>
													<div class="label-attr">{{value}}</div>
												</div>
											</div>
										</ng-template>
									</ngx-datatable-column>
									
									<ngx-datatable-column name="COMPRADOR" prop="dtCadastro" [flexGrow]="2">
										<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
											<div class="d-flex align-items-center">
												<div class="col-4">
													<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
												</div>
												<div class="col-8">
													<div class="label-attr">{{row.to_user.name}}</div>
													<span>AVALIAÇÃO:</span>
													<div class="label-attr">{{value}}</div>
												</div>
											</div>
										</ng-template>
									</ngx-datatable-column>
								</ngx-datatable>
								
								</ng-template>
							</ngb-tab>
						
							<ngb-tab>
								<ng-template ngbTabTitle>Clientes</ng-template>
								<ng-template ngbTabContent>
									<ngx-datatable
									#table
										class="bootstrap"
										[rows]="avaliacoes"
										[columnMode]="'flex'"
										[headerHeight]="0"
										[footerHeight]="0"
										[limit]="6"
										[rowHeight]="'auto'">
										<ngx-datatable-column name="PRODUTOR" [frozenLeft]="true" prop="nome" [flexGrow]="2">
											<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
												<div class="d-flex align-items-center">
													<div class="col-4">
														<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
													</div>
													<div class="col-8">
														<div class="label-attr">{{row.from_user.name}}</div>
														<span>AVALIAÇÃO:</span>
														<div class="label-attr">{{value}}</div>
													</div>
												</div>
											</ng-template>
										</ngx-datatable-column>
										
										<ngx-datatable-column name="COMPRADOR" prop="dtCadastro" [flexGrow]="2">
											<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
												<div class="d-flex align-items-center">
													<div class="col-4">
														<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
													</div>
													<div class="col-8">
														<div class="label-attr">{{row.to_user.name}}</div>
														<span>AVALIAÇÃO:</span>
														<div class="label-attr">{{value}}</div>
													</div>
												</div>
											</ng-template>
										</ngx-datatable-column>
									</ngx-datatable>
								</ng-template>
							</ngb-tab>
						</ngb-tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>