<ngb-tabset id="tabela-zoada" >
						
	<ngb-tab >
		<ng-template ngbTabTitle>CLIENTES</ng-template>
		<ng-template ngbTabContent>
		
			<div class="p-4">

				<div class="row">
					<div class="col-md-4">
						<label for="">Código</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="">Desconto %</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="">Na mensalidae</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label for="">Em serviços de até</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-5">
						<label for="">Válido para a categoria</label>
						<select type="text" class="form-control">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<label for="">Mensagem</label>
						<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
					</div>
				</div>
				<div class="my-5"></div>
				<div class="row">
					<div class="col-md-2">
						<button class="btn btn-block btn-projeto-02">CANCELAR</button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-block btn-projeto-01">SALVAR</button>
					</div>
				</div>
			</div>

		</ng-template>

	</ngb-tab>

	<ngb-tab>
		<ng-template ngbTabTitle>PRESTADORES</ng-template>
		<ng-template ngbTabContent>
			
			<div class="p-4">

				<div class="row">
					<div class="col-md-4">
						<label for="">Código</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="">Desconto %</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-2">
						<label for="">Na mensalidae</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<label for="">Mensagem</label>
						<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
					</div>
				</div>
				<div class="my-5"></div>
				<div class="row">
					<div class="col-md-2">
						<button class="btn btn-block btn-projeto-02">CANCELAR</button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-block btn-projeto-01">SALVAR</button>
					</div>
				</div>
			</div>
		

		</ng-template>
	</ngb-tab>
</ngb-tabset>