<div class="p-4">
	<div class="row">
		<div class="col-md-4 text-center">
			<div class="card-admin py-4 px-3">
				<img src="../../../assets/img/08.png" class="rounded-circle" alt="">
				<br>
				<label>Mário José da Silva</label>
				<br>
				<span>mariojose@serveme.com</span>
				<br>
				<span>(41) 30303-030</span>
				<h4 class="text-center">Atendimento</h4>
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<button class="btn btn-block btn-outline-projeto">BLOQUEAR</button>
					</div>
				</div>
			</div>
		</div>
 
		<div class="col-md-4 text-center">
			<div class="card-admin py-4 px-3">
				<img src="../../../assets/img/08.png" class="rounded-circle" alt="">
				<br>
				<label>Mário José da Silva</label>
				<br>
				<span>mariojose@serveme.com</span>
				<br>
				<span>(41) 30303-030</span>
				<h4 class="text-center">Administração</h4>
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<button class="btn btn-block btn-outline-projeto">BLOQUEAR</button>
					</div>
				</div>
			</div>
		</div>
 
		<div class="col-md-4 text-center">
			<div class="card-admin py-4 px-3">
				<img src="../../../assets/img/08.png" class="rounded-circle" alt="">
				<br>
				<label>Mário José da Silva</label>
				<br>
				<span>mariojose@serveme.com</span>
				<br>
				<span>(41) 30303-030</span>
				<h4 class="text-center">Master</h4>
			</div>
		</div>
 
	</div>
</div>