img{
	height: 100px;
	width: 100px;
	object-fit: cover;
}
label{
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: left;
	color: #383838;
}
span{
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #383838;
}
h4{
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.7px;
	text-align: left;
	color: #206e99;
}
.card-admin{
	border: 1px solid #d5d5d5;
	border-radius: 2px;
}