.body, html{
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}
.body{
	background-image: url('../../assets/img/bg.jpg');
	background-size:100% auto;
	background-repeat: no-repeat;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden !important;
}
.dentro{
	background-color: white;
	opacity: 0.88;
	height: 550px;
	width: 550px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fora{
	background-color: transparent;
	border:3px solid white;
	height: 780px;
	width: 780px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-login{
	width:80%;
	display: inline-block;
}
.login{
	width:80%;
}