<div class="body">
	<div class="fora">
		<div class="dentro">
			<div class="login text-center">
			<img src="../../assets/img/logo.png" alt="">
				<div class="form-login text-center">
					<input type="text" class="form-control mt-3">
					<input type="password" class="form-control mt-3">
					<button class="btn btn-projeto-01 btn-block mt-3">ENTRAR</button>
					<div class="mt-3">
						<a>Esqueceu a sua senha?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>