/* The container */
.container {
    display: block !important;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
	border-radius: 2px;
	border: 1px solid #ccc
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #206e99;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	color: white;
	font-family: FontAwesome;
	content: "\f00c";
	font-size: 12px;
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: -3px;
	left: 0.5px;
	width: 4px;
	height: 4px;
	/* border-radius: 50%;
	background: white; */
}
.container{
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: left;
	color: #707070;
}