<div class="p-4">
	<div class="row">
		<div class="col-12">
			<h4>Antena Parabólica e TV por Assinatura</h4>
			<span class="local">Casa e Escritório</span>
		</div>
		<div class="col-md-3">
			<label>
				Data do pedido
			</label>
			<br>
			<span>20/09/2017</span>
		</div>
		<div class="col-md-3">
			<label>
				Situação
			</label>
			<br>
			<span class="text-warning">Aberto</span>
		</div>
		<div class="col-md-3">
			<label>
				Pagamento
			</label>
			<br>
			<span>Visa</span>
		</div>
	</div>
</div>
<hr>
<div class="p-4">
	<label>Cliente</label>
	<div class="row">
		<div class="col-12 d-flex align-items-center">
			<div class="borda-arredondada">
				<span>
					Maria Clara Simões dos Anjos
				</span>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="p-4">
	<div class="row">
		<div class="col-md-8">
			<h4>Agendamento</h4>
			<div class="row">
				<div class="col-md-4">
					<label>Data e hora</label>
					<br>
					<span>20/01/2018</span>&nbsp;<span>13:00</span>
					<br>
					<span class="d-flex align-items-center">
					<i class="material-icons text-danger">check</i>&nbsp;
						Flexível
					</span>
				</div>
				<div class="col-md-4">
					<label>Prazo</label>
					<br>
					<span>3 horas</span>
				</div>
				<div class="col-md-4">
					<label>Prioridade</label>
					<br>
					<span>Indiferente</span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h4>Detalhes</h4>
			<div class="row">
				<div class="col-md-6">
					<label>Tipo de serviço</label>
					<br>
					<span>Instalação</span>
				</div>
				<div class="col-md-6">
					<label>Tipo de local</label>
					<br>
					<span>Casa</span>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="p-4">
	<div class="row">
		<div class="col-md-8">
			<label>Informações adicionais</label>
			<br>
			<span>
				Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my  cheerful duty to attend. Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my  cheerful duty to attend.
			</span>
		</div>
		<div class="col-md-4">
			<label>Anexos</label>
			<br>
			<span>nome_arquivo.pdf <br></span>
			<span>nome_arquivo.jpeg <br></span>
			<span>nome_arquivo.mov <br></span>
		</div>
	</div>
</div>
<hr>
<div class="p-4">
	<div class="row">
		<div class="col-md-12">
			<h4>Propostas</h4>
		</div>
		<div class="col-12 d-flex align-items-center">
			<div class="borda-arredondada">
				<span>
					Maria Clara Simões dos Anjos
				</span>
				<br>
				<span>Valor</span><span class="ml-4 font-weight-bold">200,00</span>
			</div>
			<div class="borda-arredondada melhor-preco ml-4">
				<span>
					Roseli Oliveira
				</span>
				<br>
				<span>Valor</span><span class="ml-4 font-weight-bold">160,00</span>
			</div>
		</div>
	</div>
</div>