<ngb-tabset id="tabela-zoada" >
					
	<ngb-tab >
		<ng-template ngbTabTitle>RANKING PRESTADORES</ng-template>
		<ng-template ngbTabContent>
			<div class="row align-items-center px-3 pt-3 pb-0">
				<a href="" class="ml-3">
					<i class="far fa-file-excel" style="font-size:23px;"></i>
					Exportar
				</a>
				<div class="pl-3 ml-auto">
					<label class="label-filtro" for="">Cidade</label>
				</div>
				<div class="col-md-4 mr-4">
					<input class="form-control style-02" type='text' placeholder='&#xf002; Pesquisar'  />
				</div>
			</div>
			<hr>
			<ngx-datatable
			#table
			class="bootstrap"
			[rows]="avaliacoes"
			[columnMode]="'flex'"
			[headerHeight]="40"
			[footerHeight]="40"
			[limit]="6"
			[rowHeight]="'auto'">
			<ngx-datatable-column name="" [frozenLeft]="true" prop="nome" [flexGrow]="1">
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<div class="d-flex align-items-center">
						<div class="col-4">
							<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
						</div>
						<div class="col-8">
							<div class="label-attr">{{row.from_user.name}}</div>
							<span>AVALIAÇÃO:</span>
							<div class="label-attr">{{value}}</div>
						</div>
					</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="" [frozenLeft]="true" prop="nome" [flexGrow]="1">
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<div class="d-flex align-items-center">
						<div class="col-4">
							<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
						</div>
						<div class="col-8">
							<div class="label-attr">{{row.from_user.name}}</div>
							<span>AVALIAÇÃO:</span>
							<div class="label-attr">{{value}}</div>
						</div>
					</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="NOME" [frozenLeft]="true" prop="nome" [flexGrow]="4">
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<div class="d-flex align-items-center">
						<div class="col-4">
							<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
						</div>
						<div class="col-8">
							<div class="label-attr">{{row.from_user.name}}</div>
							<span>AVALIAÇÃO:</span>
							<div class="label-attr">{{value}}</div>
						</div>
					</div>
				</ng-template>
			</ngx-datatable-column>
			
			<ngx-datatable-column name="CIDADE" prop="dtCadastro" [flexGrow]="3">
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<div class="d-flex align-items-center">
						<div class="col-4">
							<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
						</div>
						<div class="col-8">
							<div class="label-attr">{{row.to_user.name}}</div>
							<span>AVALIAÇÃO:</span>
							<div class="label-attr">{{value}}</div>
						</div>
					</div>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="QUANTIDADE" prop="dtCadastro" [flexGrow]="3">
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<div class="d-flex align-items-center">
						<div class="col-4">
							<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
						</div>
						<div class="col-8">
							<div class="label-attr">{{row.to_user.name}}</div>
							<span>AVALIAÇÃO:</span>
							<div class="label-attr">{{value}}</div>
						</div>
					</div>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="VALOR" prop="dtCadastro" [flexGrow]="2">
				<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
					<div class="d-flex align-items-center">
						<div class="col-4">
							<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
						</div>
						<div class="col-8">
							<div class="label-attr">{{row.to_user.name}}</div>
							<span>AVALIAÇÃO:</span>
							<div class="label-attr">{{value}}</div>
						</div>
					</div>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
		
		</ng-template>

	</ngb-tab>

	<ngb-tab>
		<ng-template ngbTabTitle>RANKING CLIENTES</ng-template>
		<ng-template ngbTabContent>
			<div class="row align-items-center px-3 pt-3 pb-0">
				<a href="" class="ml-3">
					<i class="far fa-file-excel" style="font-size:23px;"></i>
					Exportar
				</a>
				<div class="pl-3 ml-auto">
					<label class="label-filtro" for="">Cidade</label>
				</div>
				<div class="col-md-4 mr-4">
					<input class="form-control style-02" type='text' placeholder='&#xf002; Pesquisar'  />
				</div>
			</div>
			<hr>
			<ngx-datatable
			#table
				class="bootstrap"
				[rows]="avaliacoes"
				[columnMode]="'flex'"
				[headerHeight]="40"
				[footerHeight]="40"
				[limit]="6"
				[rowHeight]="'auto'">
				<ngx-datatable-column name="NOME" [frozenLeft]="true" prop="nome" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.from_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
				
				<ngx-datatable-column name="CIDADE" [frozenLeft]="true" prop="nome" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.from_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
				
				<ngx-datatable-column name="QUANTIDADE" [frozenLeft]="true" prop="nome" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.from_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
				
				<ngx-datatable-column name="VALOR" prop="dtCadastro" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.to_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</ng-template>
	</ngb-tab>

	<ngb-tab>
		<ng-template ngbTabTitle>PREÇOS MÉDIOS</ng-template>
		<ng-template ngbTabContent>
			<div class="row align-items-center px-3 pt-3 pb-0">
				<a href="" class="ml-3">
					<i class="far fa-file-excel" style="font-size:23px;"></i>
					Exportar
				</a>
				<div class="pl-3 ml-auto">
					<label class="label-filtro" for="">Categoria</label>
				</div>
				<div class="col-md-2">
					<select type="text" name="" id="" class="form-control">
						<option value=""></option>
					</select>
				</div>
				<div class="pl-3 ml-auto">
					<label class="label-filtro" for="">Cidade</label>
				</div>
				<div class="col-md-4 mr-4">
					<input class="form-control style-02" type='text' placeholder='&#xf002; Pesquisar'  />
				</div>
			</div>
			<hr>
			<ngx-datatable
				#table
				class="bootstrap"
				[rows]="avaliacoes"
				[columnMode]="'flex'"
				[headerHeight]="40"
				[footerHeight]="40"
				[limit]="6"
				[rowHeight]="'auto'">
				<ngx-datatable-column name="SERVIÇO" [frozenLeft]="true" prop="nome" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.from_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
				
				<ngx-datatable-column name="CATEGORIA" [frozenLeft]="true" prop="nome" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.from_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
				
				<ngx-datatable-column name="CIDADE" [frozenLeft]="true" prop="nome" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.from_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
				
				<ngx-datatable-column name="PREÇO MÉDIO" prop="dtCadastro" [flexGrow]="2">
					<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
						<div class="d-flex align-items-center">
							<div class="col-4">
								<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
							</div>
							<div class="col-8">
								<div class="label-attr">{{row.to_user.name}}</div>
								<span>AVALIAÇÃO:</span>
								<div class="label-attr">{{value}}</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</ng-template>
	</ngb-tab>
</ngb-tabset>