.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: #7b61ac;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
.navbar-brand{
	height: 150px;
}
.sidebar {
    min-width: 250px;
    max-width: 250px;
	/* min-height: 100vh; */
	height: 100%;
	transition: all 0.3s;
	position: fixed;
	top: 0px;
	box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.18);
	background-color: white;
}
.sidebar ul li i{
	color: #777777;
	margin-right: 15px;
}

.sidebar ul li a {
    display: flex;
    padding: .75rem 1rem;
    color: #383838;
	text-decoration: none;
	align-items: center;
}
.sidebar ul li a:hover,.sidebar ul li a:hover i, .sidebar ul .active a,.sidebar ul .active a i{
    color: rgba(255, 255, 255, 1);
    background: #ba3c3c;
}
/* .sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, .25);
} */
.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
/* .sidebar [aria-expanded="true"] {
     background: rgba(0, 0, 0, .25); 
} */
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;
}
.content-page{
	background-color: white;
	margin-top: -50px;
	margin-left: 250px;
	transition: all 0.3s;
}
.content-page.toggled{
	margin-left: 0px;
}
.nav-top{
	margin-left: 250px;
	transition: all 0.3s;
	background-color:#3a3a3a;
	height: 150px;
}
.nav-top.toggled {
	margin-left: 0px;
	z-index: 98
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .sidebar {
		margin-left: -250px;
		position: absolute;
		z-index: 99999;
    }
    .sidebar.toggled {
        margin-left: 0;
	}
	.nav-top{
		margin-left: 0px;
	}
	.nav-top.toggled{
		margin-left: 250px;
	}
	.content-page{
		margin-left: 0px;
	}
}

.breadcrumb-item a{
	text-transform: capitalize;
}
.page-title{
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}


.logo{
	max-width: 150px;
	max-height: 100px;
}
.active.submenu a{
	border-left: 6px solid #ba3c3c;
	background-color: white !important;
	color: #383838 !important;
}
.active.submenu a i{
	background-color: white !important;
	color: #777 !important;
}
.active.submenu li.active a, .submenu li a:hover, .active.submenu a:hover, .active.submenu a:hover *{
	background-color: #ba3c3c !important;
	color:white !important;
}
.submenu li a{
	border:none;
	color: #383838;
}