<div class="sidebar">
	<perfect-scrollbar [config]="config">
		<ul class="list-unstyled">
			<a class="navbar-brand d-flex align-items-center justify-content-center" [routerLink]="['dashboard']"><img src="../assets/img/logo.png" class="logo" alt=""></a>
			<li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']"><i class="material-icons">dashboard</i>&nbsp; Dashboard</a></li>
			<li [routerLinkActive]="['active']" class="submenu">
				<a (click)="toggleSubmenu()"><i class="material-icons">people</i>&nbsp;Usuários <i *ngIf="toggleMenu != true" class="fa fa-caret-down ml-auto"></i><i *ngIf="toggleMenu == true" class="fa fa-caret-up ml-auto"></i></a>
				<ul [hidden]="toggleMenu != true" id="submenu1" class="list-unstyled">
					<li [routerLinkActive]="['active']"><a [routerLink]="['/usuarios/clientes']">Clientes</a></li>
					<li [routerLinkActive]="['active']"><a [routerLink]="['/usuarios/prestadores']">Prestadores</a></li>
				</ul>
			</li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['orcamentos']"><i class="material-icons">monetization_on</i> &nbsp;Orçamentos</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['servicos']"><i class="material-icons">assignment</i> &nbsp;Serviços</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['categorias-e-servicos']"><i class="material-icons">list</i> &nbsp;Categorias e serviços</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['descontos']"><i class="material-icons">loyalty</i> &nbsp;Descontos</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['pagamentos']"><i class="material-icons">payment</i> &nbsp;Pagamentos</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['configuracao']"><i class="material-icons">settings</i> &nbsp;Configurações</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['relatorios']"><i class="material-icons">assessment</i> &nbsp;Relatórios</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['envio-de-push']"><i class="material-icons">notifications</i> &nbsp;Envio de Push</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['fale-conosco']"><i class="material-icons">contact_mail</i> &nbsp;Fale conosco</a></li>
			<li [routerLinkActive]="['active']"><a [routerLink]="['admins']"><i class="material-icons">group_add</i> &nbsp;Admins</a></li>
		</ul>
	</perfect-scrollbar>
</div>
