<div class="servico col-12">
	<div class="col-10">
		<label>Dança</label>
		<br>
		<label class="tipo">Tipos de serviço: </label><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span>
		<br>
		<label class="tipo">Tipos de local: </label><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span>
	</div>
	<div class="col-2 d-flex align-items-center">
		<div class="row">
			<div class="col-6">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="danca"></ui-switch>&nbsp;
			</div>
			<div class="col-6">
				<span *ngIf="danca == false">Inativo</span>
				<span *ngIf="danca == true">Ativo</span>
			</div>
			<br>
			<div class="col-12">
				<i class="material-icons float-right">edit</i>
			</div>
		</div>
	</div>
</div>

<div class="servico col-12">
	<div class="col-10">
		<label>Esportes</label>
		<br>
		<label class="tipo">Tipos de serviço: </label><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span>
		<br>
		<label class="tipo">Tipos de local: </label><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span>
	</div>
	<div class="col-2 d-flex w-100 align-items-center">
		<div class="row">
			<div class="col-6">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="esportes"></ui-switch>&nbsp;
			</div>
			<div class="col-6">
				<span *ngIf="esportes == false">Inativo</span>
				<span *ngIf="esportes == true">Ativo</span>
			</div>
			<br>
			<div class="col-12">
				<i class="material-icons float-right">edit</i>
			</div>
		</div>
	</div>
</div>

<div class="servico col-12">
	<div class="col-10">
		<label>Esportes</label>
		<br>
		<label class="tipo">Tipos de serviço: </label><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span>
		<br>
		<label class="tipo">Tipos de local: </label><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span><span>tipo 1</span>
	</div>
	<div class="col-2 d-flex w-100 align-items-center">
		<div class="row">
			<div class="col-6">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="esportes"></ui-switch>&nbsp;
			</div>
			<div class="col-6">
				<span *ngIf="esportes == false">Inativo</span>
				<span *ngIf="esportes == true">Ativo</span>
			</div>
			<br>
			<div class="col-12">
				<i class="material-icons float-right" routerLink="novo">edit</i>
			</div>
		</div>
	</div>
</div>
