.servico{
	width: 100%;
	display: flex;
	padding: 15px;
}
.servico:hover{
	background-color: #f4f4f4;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.servico:hover i{
	color: #3688b5;
	cursor: pointer;
}
label{
	margin-top: 0px !important;
	margin-bottom: 0px !important
}
i{
	color: #757575
}