.btn-add-campo{
	height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3688b5;
}
textarea.form-control{
	height: 160px;
}
label{
	color: #4a4a4a;
	font-size: 14px;
}
span{
	font-weight: bold;
	height: 16px;
	color: rgba(0, 0, 0, 0.87);
}