<div class="p-4">
	<div class="row">
		<div class="col-md-6">
			<label for="">NOME DO SERVIÇO</label>
			<input type="text" name="" id="" class="form-control">
		</div>
		<div class="col-md-2">
			<label class="mb-3" for="">CATEGORIA</label>
			<br>
			<span>Aulas</span>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-5">
			<label for="">Informe as opções de tipos de serviço para este serviço</label>
			<input type="text" name="" id="" class="form-control">
		</div>
		<div class="col-md-1">
			<br>
			<label class="rounded-circle btn-add-campo" for=""><i class="fa fa-plus"></i></label>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-5">
			<label for="">Informe as opções de tipos de local para este serviço</label>
			<input type="text" name="" id="" class="form-control">
		</div>
		<div class="col-md-1">
			<br>
			<label class="rounded-circle btn-add-campo" for=""><i class="fa fa-plus"></i></label>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-8">
			<label for="">Informe o texto a ser exibido a partir do botão IMPORTANTE, no item “Informações Adicionais"</label>
			<textarea type="text" name="" id="" class="form-control"></textarea>
		</div>
	</div>
	<div class="my-5"></div>
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-block btn-projeto-02">CANCELAR</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-block btn-projeto-01">ENVIAR</button>
		</div>
	</div>
</div>