<div class="row">
	<div class="col-md-4 bg-icon">
		<i class="material-icons">{{icon}}</i>
	</div>
	<div class="col-md-8 bg-informacao">
		<div>
			<span class="tipoInformacao">
				{{tipoInformacao}}
			</span>
			<br>
			<span class="informacao">
				{{informacao}}
			</span>
		</div>
	</div>
</div>
