.bg-icon{
	background-color: #206e99;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-icon i{
	font-size: 50px;
	color: white
}
.bg-informacao{
	background-color: #3688b5;
	display: flex;
	align-items: center;
}
.bg-informacao div{
	color: white;
}
.tipoInformacao{
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}
.informacao{
	font-size: 18px;
  	font-weight: normal;
}