<div class="page-on-top p-4">
	<!-- tables/default -->
	<form [formGroup]="notificationForm">
		
		<div class="row">

			<div class="col-md-2 mt-3 text-center">

				<label class="btn-add-img" for="addImg">
					<img src="../../assets/img/btn-img.svg" alt="">
					<input type="file" formControlName="addImg" id="addImg" hidden>
				</label>
				<div class="d-flex align-items-center label-faded justify-content-center">
					<a class="link">
						<span style="font-size:26px;">&times; &nbsp;</span><span>Apagar foto</span>
					</a>
				</div>
			</div>

			<div class="col-md-10">

				<div class="row my-3">

					<div class="col-12">

						<label class="label-attr" for="titulo">Titulo:</label>

						<input type="text" class="form-control style-01" formControlName="titulo" id="titulo" placeholder="Nome">

					</div>

				</div>

				<div class="row my-3">

					<div class="col-12">

						<label class="label-attr" for="resumo">Resumo:</label>

						<textarea id="txtDesc" formControlName="resumo" id="resumo" maxlength="150" class="form-control style-01" cols="30" rows="1" placeholder="Descrição" #resumo></textarea>
					
					</div>
					
					<span class="w-100 text-right" id="chars" style="margin-left:15px;margin-right:15px;">{{resumo.value.length}}/150</span>
				
				</div>

				<div class="row my-3">

					<div class="col-12">

						<label class="label-attr" for="link">Link externo &nbsp;<span class="font-italic">(se houver):</span></label>
						
						<input type="text" class="form-control style-01" formControlName="link" id="link" placeholder="Link">
					
					</div>

				</div>

				<div class="row my-3">

					<div class="col-md-3">

						<button class="btn btn-projeto-01">ENVIAR</button>

					</div>

				</div>

			</div>
		
		</div>
			
	</form>

</div>