.btn-add-img{
	height: 150px;
	width: 150px;
	background-color: #d8d8d8;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer !important;
}
textarea.form-control, textarea.form-control:focus{
	min-height: 60px !important;
}