<div class="row align-items-center px-3 pt-3 pb-0">
	<div class="pl-3">
		<label class="label-filtro" for="">Filtrar por</label>
	</div>
	<div class="col-md-3">
		<select class="form-control style-02" name="" id="">
			<option value="">Ativos</option>
			<option value="">Suspensos</option>
		</select>
	</div>
	<div class="col-md-4 ml-auto mr-4">
		<input class="form-control style-02" type='text' placeholder='&#xf002; Pesquisar'  />
	</div>
</div>
<hr>
<ngx-datatable
	#table
	class="bootstrap"
	[rows]="avaliacoes"
	[columnMode]="'flex'"
	[headerHeight]="40"
	[footerHeight]="40"
	[limit]="6"
	[rowHeight]="'auto'">
	<ngx-datatable-column name="NOME" [frozenLeft]="true" prop="nome" [flexGrow]="2">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center">
				<span>{{nome}}</span>
			</div>
		</ng-template>
	</ngx-datatable-column>
		
	<ngx-datatable-column name="E-MAIL" prop="dtCadastro" [flexGrow]="2">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				<div class="d-flex align-items-center">
					<div class="label-attr">{{email}}</div>
				</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="ULTIMO ACESSO" prop="status" [flexGrow]="2">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center h-100">
				<span>
					<span class="label-attr">{{row.avaliacao.comprador.from.created_at | date: 'dd/mm/yyyy'}}</span>
					<br>
					<span class="label-attr">{{row.avaliacao.comprador.from.created_at | date: 'HH:mm'}}h</span>
				</span>
			</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="TIPO DE USUARIO" prop="status" [flexGrow]="2">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center h-100">
				<span class="label-attr">{{tipo}}</span>
			</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="AÇÕES" [flexGrow]="1">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center h-100 table-buttons justify-content-between pr-5">
				<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
			</div>
		</ng-template>
	</ngx-datatable-column>

</ngx-datatable>