<div class="row align-items-center px-3 pt-3 pb-0">
	<div class="pl-3">
		<label class="label-filtro" for="">Tipo de usuário</label>
	</div>
	<div class="col-md-3">
		<select class="form-control style-02" name="" id="">
			<option value="">Ativos</option>
			<option value="">Suspensos</option>
		</select>
	</div>
	<div class="col-md-4 ml-auto mr-4">
		<input class="form-control style-02" type='text' placeholder='&#xf002; Pesquisar'  />
	</div>
</div>
<hr>
<ngx-datatable
	#table
	class="bootstrap"
	[rows]="avaliacoes"
	[columnMode]="'flex'"
	[headerHeight]="40"
	[footerHeight]="40"
	[limit]="6"
	[rowHeight]="'auto'">
	
	<ngx-datatable-column name="DATA" [frozenLeft]="true" prop="nome" [flexGrow]="1">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center">
				<div class="col-4">
					<img src={{row.from_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
				</div>
				<div class="col-8">
					<div class="label-attr">{{row.from_user.name}}</div>
					<span>AVALIAÇÃO:</span>
					<div class="label-attr">{{value}}</div>
				</div>
			</div>
		</ng-template>
	</ngx-datatable-column>
	
	<ngx-datatable-column name="USUÁRIO" prop="dtCadastro" [flexGrow]="2">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center">
				<div class="col-4">
					<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
				</div>
				<div class="col-8">
					<div class="label-attr">{{row.to_user.name}}</div>
					<span>USUÁRIOS:</span>
					<div class="label-attr">{{value}}</div>
				</div>
			</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="TIPO" prop="dtCadastro" [flexGrow]="2">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center">
				<div class="col-4">
					<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
				</div>
				<div class="col-8">
					<div class="label-attr">{{row.to_user.name}}</div>
					<span>AVALIAÇÃO:</span>
					<div class="label-attr">{{value}}</div>
				</div>
			</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="ASSUNTO" prop="dtCadastro" [flexGrow]="3">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center">
				<div class="col-4">
					<img src={{row.to_user.path_photo}} height="40" width="40" alt="" class="rounded-circle">
				</div>
				<div class="col-8">
					<div class="label-attr">{{row.to_user.name}}</div>
					<span>AVALIAÇÃO:</span>
					<div class="label-attr">{{value}}</div>
				</div>
			</div>
		</ng-template>
	</ngx-datatable-column>
</ngx-datatable>