<div class="p-4">
	<div class="row">
		<div class="col-md-4 mt-2">
			<label for="">USUÁRIOS</label>
			<select name="" id="" class="form-control">
				<option value=""></option>
			</select>
		</div>
		<div class="col-md-4 mt-2">
			<label for="">CIDADE</label>
			<select name="" id="" class="form-control">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 mt-2">
			<label for="">USUÁRIOS</label>
			<select name="" id="" class="form-control">
				<option value=""></option>
			</select>
		</div>
		<div class="col-md-4 mt-2">
			<label for="">CIDADE</label>
			<select name="" id="" class="form-control">
				<option value=""></option>
			</select>
		</div>
	</div>
</div>
	
<hr>
<div class="p-4">
	<div class="row">
		<div class="col-md-8 mt-2">
			<label for="">TÍTULO</label>
			<input type="text" class="form-control">
		</div>
		<div class="col-md-8 mt-2">
			<label for="">TEXTO</label>
			<textarea type="text" class="form-control"></textarea>
		</div>
	</div>
	<div class="my-5"></div>
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-block btn-projeto-02">CANCELAR</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-block btn-projeto-01">ENVIAR</button>
		</div>
	</div>
</div>