<div class="p-4">
	<form [formGroup]="">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12 pb-3">
						<label for="">Nome:</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-6 pb-3">
						<label for="">E-mail:</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-6"></div>
					<div class="col-md-6 pb-3">
						<label for="">Nova senha:</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-6 pb-5">
						<label for="">Confirmar senha:</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-6 pb-3">
						<button class="btn btn-projeto-01">SALVAR</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>