<div class="row align-items-center px-3 pt-3 pb-0">
	<div class="pl-3">
		<a href="" class="ml-3">
			<i class="far fa-file-excel" style="font-size:23px;"></i>
			Exportar
		</a>
	</div>
	<div class="col-md-4 ml-auto mr-4">
		<input class="form-control style-02" type='text' placeholder='&#xf002; Pesquisar'  />
	</div>
</div>
<hr>
<div class="row align-items-center px-3 pt-3 pb-0">
	<label for="" class="pl-3">Categorias</label>
	<div class="col-md-2">
		<select name="" id="" class="form-control">
			<option value="">Todas</option>
		</select>
	</div>
	<label for="" class="ml-auto">Situação</label>
	<div class="col-md-2">
		<select name="" id="" class="form-control">
			<option value="">Todas</option>
		</select>
	</div>
	<label for="" class="ml-auto">Período</label>
	<div class="col-md-2">
		<select name="" id="" class="form-control">
			<option value="">Todas</option>
		</select>
	</div>
	<div class="col-md-2 mr-3">
		<select name="" id="" class="form-control">
			<option value="">Todas</option>
		</select>
	</div>
</div>
<hr>
<ngx-datatable
	#table
	class="bootstrap"
	[rows]="avaliacoes"
	[columnMode]="'flex'"
	[headerHeight]="40"
	[footerHeight]="40"
	[limit]="6"
	[rowHeight]="'auto'">
	<ngx-datatable-column name="DATA" [frozenLeft]="true" prop="nome" [flexGrow]="1">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center">
				<div class="col-4">
					<img src={{row.avaliacao.produtor.from.photo}} height="60" width="60" alt="" class="img-border">
				</div>
				<div class="col-8">
					<div class="label-attr">{{row.avaliacao.produtor.from.name}}</div>
					<span>AVALIAÇÃO:</span>
					<div class="label-attr">{{row.avaliacao.produtor.from.points}}</div>
				</div>
			</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="CLIENTE" [frozenLeft]="true" prop="nome" [flexGrow]="1">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center">
				<div class="col-4">
					<img src={{row.avaliacao.produtor.from.photo}} height="60" width="60" alt="" class="img-border">
				</div>
				<div class="col-8">
					<div class="label-attr">{{row.avaliacao.produtor.from.name}}</div>
					<span>AVALIAÇÃO:</span>
					<div class="label-attr">{{row.avaliacao.produtor.from.points}}</div>
				</div>
			</div>
		</ng-template>
	</ngx-datatable-column>
		
	<ngx-datatable-column name="SERVIÇO" prop="dtCadastro" [flexGrow]="1">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
				<div class="d-flex align-items-center">
					<div class="col-4">
						<img src={{row.avaliacao.comprador.from.photo}} height="60" width="60" alt="" class="img-border">
					</div>
					<div class="col-8">
						<div class="label-attr">{{row.avaliacao.comprador.from.name}}</div>
						<span>AVALIAÇÃO:</span>
						<div class="label-attr">{{row.avaliacao.comprador.from.points}}</div>
					</div>
				</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="VALOR" prop="hate" [flexGrow]="1">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center h-100 table-buttons justify-content-between pr-5">
				<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
				<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
			</div>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column name="SITUAÇÃO" [flexGrow]="1">
		<ng-template ngx-datatable-cell-template let-value="value" let-row="row">
			<div class="d-flex align-items-center h-100 table-buttons justify-content-between pr-5">
				<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
				<a id="{{row.id}}" (click)="deletMotorista(row.id)" href="javascript:;"><i class="material-icons" style="color:#d04653">close</i></a>
			</div>
		</ng-template>
	</ngx-datatable-column>

</ngx-datatable>