/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


body{
	overflow-x: hidden;
	width: 100%;
	font-family: 'Roboto' !important;
	margin: 0;
	padding: 0;
}
.content-page{
	background-color: white;
	margin-top: -50px;
	margin-left: 250px;
	transition: all 0.3s;
}
.content-page.toggled{
	margin-left: 0px;
}
.bg-img{
	/* background-image: url('./assets/img/background.jpg'); */
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover
} 
.btn.btn-rounded{
	border-radius: 10em;
}
.btn-projeto-01{
	margin-right:0px;
	margin-left:0px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 3px;
	background: #206e99;
	background-image: #206e99;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	font-family: 'Roboto';
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	cursor: pointer;
}
.btn-projeto-02{
	margin-right:0px;
	margin-left:0px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 3px;
	background: white;
	background-image: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	font-family: 'Roboto';
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #383838 !important;
	cursor: pointer;
}
.form-control[type=date],.form-control[type=password],.form-control[type=text],.form-control:focus,.form-control {
	box-sizing: border-box!important;
	padding-top: 0px; 
	padding-bottom: 0px;
	padding-left: 8px; 
	padding-right: 8px;
	box-shadow: none !important;
	height: 38px;
	border-top: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	margin-bottom: 0 !important;
}
.form-control.style-02{
	border-radius: 5px !important;
	padding-left: 8px; 
	padding-right: 8px;
	margin-bottom: 0px
}
.form-control.style-03, .form-control.style-03:focus{
	border: none !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
	border-bottom-color: #7a60aa !important;
	border-radius: 0  !important;
    outline: 0;
     /* height: 3rem; */
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;	
}
textarea.form-control{
	min-height: 35px !important;
	max-height: 800px !important;
	height: 50px;
}
ul.nav-tabs{
	background-color: white;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 10px;
	border-bottom: none;
	height: 48px;
}
ul.nav-tabs .nav-link{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: center;
	color: #9b9b9b;
	height: 48px;
	vertical-align: middle;
    line-height: 30px;
}
ul.nav-tabs .nav-link.active{
	background-color: transparent;
	border:none;
	border-bottom: 4px solid #ba3c3c;
	color: #ba3c3c;
}

button{
	align-items: center !important;
	display: flex !important;
}
.label-filtro{
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #676767;
}
.irs-bar, .irs-bar-edge,{
	background: #7b61ac !important;
	height: 3px !important;
}
.irs-slider.single{
	background: #7b61ac !important;
	border-radius: 100%;
	top:18px !important;	
}
.irs-line{
	height: 3px !important;
}
.irs-single{
	background: #7b61ac !important;
}
.irs-single::after{
	border-top-color: #7b61ac!important;
}
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
	}
	.nav-top{
		margin-left: 0px;
	}
	.nav-top.toggled{
		margin-left: 250px;
	}
	.content-page{
		margin-left: 0px;
	}
}
label{
	margin-top: 10px;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: left;
	color: #000000;
}
.dados-usuario{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.rate i{
	width: 20px;
	height: 14px;
	color: #e1e1e1;
}
.rate i.full{
	width: 20px;
	height: 14px;
	color: #f8e71c;
}
h3{
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #112f3e;
}
.btn-outline-projeto{
	margin-right:0px;
	margin-left:0px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: 1px solid #4a4a4a;
	border-radius: 3px;
	background: #fff;
	background-image: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	font-family: 'Roboto';
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a !important;
	cursor: pointer;
}
.btn-outline-projeto:hover{
	border: 1px solid #4a4a4a;
	background: #4a4a4a;
	background-image: #4a4a4a;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	color: white !important;
	cursor: pointer;
}

/*  tabelas */

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.datatable-header-cell{
	background-color: white;
	font-size: 11px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #206e99;
  
}
.datatable-header-cell, .datatable-header{
	// box-sizing: border-box;
	// height: 30px !important;
	font-size: 13px;
	vertical-align: middle !important;
	/* display: flex !important;
	align-items: center !important; */
}
.datatable-header-cell div{
	height: 10px !important;
	display: flex !important;
	align-items: center !important;
}
.datatable-body-cell{
	color: #3c3c3c
}
.page-count{
	display: none !important;
}
.datatable-pager{
	display: flex !important;
    justify-content: center !important;
}
.datatable-pager ul li a,.datatable-pager ul li:hover,{
	color: #073340 !important;
	background: transparent !important;
}
.datatable-pager ul.pager li a:hover, {
	background: #073340 !important;
	color: white !important;
}
.datatable-pager ul.pager li.active a{
	background: #073340 !important;
	color: white !important;
}
.datatable-footer{
	background: white !important;
}
.header-tabela{
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #868686;
	background-color: white;
	border-top: 1px solid #868686;
	border-bottom: 1px solid #868686;
  }
  .body-column{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #3c3c3c;
	border-bottom: 1px solid #ebf0f4;
  }
  #tabela-dashboard .datatable-header-cell{
	  display: flex !important;
	  align-items: center !important;
  }



.label-attr{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: left;
	color: #3c3c3c;
}
.label-attr+br+span,.label-attr+span{
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #7b61ac;
}
.rate i{
	width: 20px;
	height: 14px;
	color: #e1e1e1;
}
.rate i.full{
	width: 20px;
	height: 14px;
	color: #f8e71c;
}
.modal-header{
	border-bottom: none;
}

.label-aval{
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #7b61ac;
}

.datatable-header-cell.justify-content-center div{
	justify-content: center
}
.img-border{
	border-radius: 4px
}
.datatable-body-cell-label{
	height: 100%;
}
[hidden], [hidden]:hover, [hidden]:active, [hidden]:focus{
	display: none !important;
}
.modal-header{
	background-color: white;
	color: #ba3c3c;
	border-radius: 0;
}
.modal-header i{
	color: #206e99;
}
.close{
	opacity: 1;
}
input{
	font-family: 'FontAwesome', 'Roboto' !important;
}
hr{
	margin-bottom: 0px;
}
.hu3{
	overflow: hidden;
}
.switch-small span{
 border: 1px solid #3688b5
}