.content{
	border-radius: 1px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	padding: 20px;
}
.content-title, .content-body{
	width: 100%;
}
.content-title{
	font-family: Roboto;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
