<div class="px-4 pt-4">
	<div class="row">
		<div class="col-12">
			<h3>Categorias</h3>
		</div>
	</div>
</div>
<hr>
<div class="col-12 pb-4">
	<div class="row">
		<div class="categoria">
			<div class="col-9 h-100 d-flex align-items-center" routerLink="servicos">
				<span>Assitência Técnica </span>
			</div>
			<div class="col-1 h-100 d-flex align-items-center">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="assistenciaTecnica"></ui-switch>
			</div>
			<div class="col-1 d-flex align-items-center h-100" routerLink="servicos">
				<span *ngIf="assistenciaTecnica == false">Inativo</span>
				<span *ngIf="assistenciaTecnica == true">Ativo</span>
			</div>
			<div class="col-1 d-flex align-items-center h-100" routerLink="servicos">
				<i class="material-icons">keyboard_arrow_right</i>
			</div>
		</div>

		<div class="categoria">
			<div class="col-9">
				<span>Aulas </span>
			</div>
			<div class="col-1">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="aulas"></ui-switch>
			</div>
			<div class="col-2">
				<span *ngIf="aulas == false">Inativo</span>
				<span *ngIf="aulas == true">Ativo</span>
			</div>
		</div>

		<div class="categoria">
			<div class="col-9">
				<span>Veículos</span>
			</div>
			<div class="col-1">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="veiculos"></ui-switch>
			</div>
			<div class="col-2">
				<span *ngIf="veiculos == false">Inativo</span>
				<span *ngIf="veiculos == true">Ativo</span>
			</div>
		</div>

		<div class="categoria">
			<div class="col-9">
				<span>Consultoria</span>
			</div>
			<div class="col-1">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="consultoria"></ui-switch>
			</div>
			<div class="col-2">
				<span *ngIf="consultoria == false">Inativo</span>
				<span *ngIf="consultoria == true">Ativo</span>
			</div>
		</div>
		
		<div class="categoria">
			<div class="col-9">
				<span>Design e Tecnologia</span>
			</div>
			<div class="col-1">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="designTecnologia"></ui-switch>
			</div>
			<div class="col-2">
				<span *ngIf="designTecnologia == false">Inativo</span>
				<span *ngIf="designTecnologia == true">Ativo</span>
			</div>
		</div>

		<div class="categoria">
			<div class="col-9">
				<span>Eventos</span>
			</div>
			<div class="col-1">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="eventos"></ui-switch>
			</div>
			<div class="col-2">
				<span *ngIf="eventos == false">Inativo</span>
				<span *ngIf="eventos == true">Ativo</span>
			</div>
		</div>
		
		<div class="categoria">
			<div class="col-9">
				<span>Moda e Beleza</span>
			</div>
			<div class="col-1">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="modaBeleza"></ui-switch>
			</div>
			<div class="col-2">
				<span *ngIf="modaBeleza == false">Inativo</span>
				<span *ngIf="modaBeleza == true">Ativo</span>
			</div>
		</div>
		
		<div class="categoria">
			<div class="col-9">
				<span>Construção e Reforma</span>
			</div>
			<div class="col-1">
				<ui-switch size="small" defaultBoColor="#3688b5" color="#3688b5" switchColor="#fff" [(ngModel)]="construcaoReforma"></ui-switch>
			</div>
			<div class="col-2">
				<span *ngIf="construcaoReforma == false">Inativo</span>
				<span *ngIf="construcaoReforma == true">Ativo</span>
			</div>
		</div>

	</div>
</div>
	
