.categoria{
	height: 60px;
	display: flex;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.categoria:hover{
	border-left: 8px solid #206e99;
	background-color:  #f4f4f4;
}